

.header
    &-nav
        padding: 20px 72px;
        &-menu
            & li
                margin-right 45px
            & a
                color: #fff
                text-transform: uppercase
                text-decoration: none !important
                // font-family "Montserrat"
                font-weight: 400
    & img
        // width: 50%;